<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="todo-app">
        <div class="nav-todo-app">
            <div class="tittle-todo-app">
                <h2>TODO APP </h2>
            </div>
            <div class="input-todo-app">
                <input type="text" placeholder="Enter todo ...." />
                <button>Add</button>
            </div>
            <div class="list-todo">
                <div>
                    <div class="content-list-todo">
                        <div class="work-todo">

                            <span class="todo.complete">
                                Đi làm
                            </span>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>